.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;

    * {
        color: #3c3c3c;
    }

    img {
        max-width: 70px;
    }

    h1 {
        margin: 0 0 30px;
        font-size: 1em;
        font-weight: 300;
    }

    form {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;

        input {
            min-width: 300px;
            height: 55px;
            margin: 0 0 20px;
            padding-left: 80px;
            border: 1px solid #707070;
            outline: none;
            background: no-repeat 15px;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1px;
            background-color: #fafafa;
            color: #3c3c3c;

            &::placeholder {
                font-weight: 300;
            }
        }

        button {
            margin: 10px 0;
            border: 0;
            padding: 15px 70px;
            background-color: #0075ff;
            color: #fff;
            font-size: 16px;
            letter-spacing: 1px;
            cursor: pointer;
        }

        & input,
        & button {
            border-radius: 4px;
        }
    }

    .input {
        position: relative;

        svg {
            position: absolute;
            top: 20px;
            left: 20px;
            cursor: text;
            font-size: 22px;
            padding-right: 24px;
            border-right: 1px solid;
            pointer-events: none;
            width: 22px;

            &.icon-Show {
                left: auto;
                right: 20px;
                font-size: 18px;
                border: unset;
                padding-right: 10px;
                pointer-events: none;
                cursor: pointer;
                pointer-events: auto;
            }
        }
    }
    ::placeholder {
        font-weight: 500;
        font-size: 15px;
        color: #8e8e8e;
    }
    input:-webkit-autofill::first-line {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
    }
}
