<!DOCTYPE html>
<html>    
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>DarwinAI</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon.css' %}">
</head>
<body>
    <div class="main-frame">
        <div class="menu">
            <div class="head">
                <p class="icon-Logo" id="logo"></p>
                <a href="{% url 'dashboard' %}"><p class="icon-Dashboard"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></p>Рабочий стол</a>
                <a href="{% url 'managers' %}"><p class="icon-Analytics"><span class="path1"></span><span class="path2"></span></p>Аналитика звонков</a>
                <a href="{% url 'settings' %}"><p class="icon-Phone-settings"><span class="path1"></span><span class="path2"></span></p>Настройки</a>
                <a href="{% url 'scripts' %}"><p class="icon-Scripts"></p>Скрипты</a>
                <a href="{% url 'dictionaries' %}"><p class="icon-Dictionary"></p>Словари</a>
                <a href="{% url 'team' %}"><p class="icon-Operator"></p>Команда Проекты</a>
                <a><p class="icon-Live"><span class="path1"></span><span class="path2"></span><span class="path3"></span></p>LIVE коучинг</a>
            </div>
            <div class="foot">
                <a href="/logout/">Выйти</a>
            </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script>
        const setCookie = (cName, cValue) => {
            document.cookie = `${cName} = ${cValue}; path = /;`;
        };
        const getCookie = (cName) => {
            const name = cName + "=";
            const cDecoded = decodeURIComponent(document.cookie);
            const cArr = cDecoded.split('; ');
            let res;
            cArr.forEach(val => {
                if (val.indexOf(name) === 0) res = val.substring(name.length);
            })
            return res
        };
        const csrf = getCookie('csrftoken');
        const getFromCookie = () => {
            const cookie = getCookie('recordsSeen');
            if (cookie !== undefined) return JSON.parse(cookie);
            return [];
        };
        const recordsSeen = getFromCookie();
        const DarwinAI = {};
        const fillGlobal = (result) => {
            Object.keys(result).forEach((key) => {
                DarwinAI[key] = result[key];
            });
        };
        function range(startAt = 0, endAt, include = false) {
            const arr = [...Array(endAt - startAt).keys()].map(i => i + startAt);
            if (include) arr.push(endAt);
            return arr;
        }
        {% block script %}
        {% endblock %}
    </script>
</body>
</html>