{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="head">
    <div class="nav-prev">
        <h1>Общая аналитика звонков</h1>
    </div>
    <a href="" id="export" download>
        <img src={% static 'images/managers-export.svg' %} style="cursor: pointer;">
    </a>
</div>
<div class="body">
    <div class="control">
    </div>
    <div class="managers-group"></div>
</div>
{% endblock %}
{% block script %}
document.querySelectorAll('.menu a')[1].classList.add('active');
document.querySelector('#export').href = `/export/managers/{{id}}/{{name}}.csv`;

window.onload = () => { getData(); };

const createManager = (manager) => {
    if (!manager.status) return;
    const aManager = document.createElement('a');
    aManager.href = `/manager-${manager.id}/calls/`;
    const divManager = document.createElement('div');
    divManager.classList.add('manager');
    const divPerson = document.createElement('div');
    divPerson.classList.add('person');
    const divNaming = document.createElement('div');
    divNaming.style = 'margin: auto 0;';
    const p = document.createElement('p');
    p.innerText = `${manager.first_name} ${manager.last_name}`;
    p.style= 'margin: 0;';
    const span = document.createElement('span');
    span.innerText = manager.department;
    span.style = 'font-size: 12px; color: #979797;';
    divNaming.append(p);
    divNaming.append(span);
    const color = manager.rating === '‒' ? `stroke="url(#paint${manager.color})"` : `fill="url(#paint${manager.color})"`;
    const colorSpan = manager.rating === '‒' ? ` style="color: #707070;"` : '';
    divPerson.innerHTML += `
        <div class="star">
            <svg viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.0531 1.00547C22.2376 0.637793 22.7624 0.637793 22.9469 1.00547L29.0603 13.1888C29.2717 13.6101 29.6688 13.9075 30.1325 13.9918L43.1195 16.3546C43.5075 16.4252 43.6649 16.8962 43.3972 17.1859L34.1532 27.1866C33.8489 27.5158 33.7078 27.9638 33.7686 28.408L35.6494 42.1593C35.7042 42.5606 35.2841 42.8572 34.9243 42.6712L23.1889 36.6039C22.7568 36.3805 22.2432 36.3805 21.8111 36.6039L10.0757 42.6712C9.71585 42.8572 9.29575 42.5606 9.35064 42.1593L11.2314 28.408C11.2922 27.9638 11.1511 27.5158 10.8468 27.1866L1.60281 17.1859C1.3351 16.8962 1.49245 16.4252 1.88049 16.3546L14.8675 13.9918C15.3312 13.9075 15.7283 13.6101 15.9397 13.1888L22.0531 1.00547Z" ${color}/>
                <defs>
                    <linearGradient id="paint0" x1="22.5" y1="-1" x2="22.5" y2="44" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#6100FF"/>
                        <stop offset="1" stop-color="#03DAC5"/>
                    </linearGradient>
                    <linearGradient id="paint1" x1="22.5" y1="-1" x2="22.5" y2="44" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#6100FF"/>
                        <stop offset="1" stop-color="#DBB2FF"/>
                    </linearGradient>
                    <linearGradient id="paint2" x1="22.5" y1="-1" x2="22.5" y2="44" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#B00020"/>
                        <stop offset="1" stop-color="#FF002E"/>
                    </linearGradient>
                </defs>
            </svg>
            <span${colorSpan}>${manager.rating}</span>
        </div>`;
    
    divPerson.innerHTML += `<img src="${manager.avatar}" alt="">`;
    divPerson.append(divNaming);
    divManager.append(divPerson);
    const divGoals = document.createElement('div');
    divGoals.classList.add('goals');
    divGoals.innerHTML = `
                <div class="goal">
                    <p class="icon-Target"></p>
                    <span class="value">${manager.count}</span>
                    <span class="description">Всего звонков</span>
                </div>
                <div class="goal">
                    <span class="value">${manager.critical}</span>
                    <span class="description">Критические звонки</span>
                </div>
                <div class="goal">
                    <span class="value">${manager.purity}</span>
                    <span class="description">Чистота речи</span>
                </div>
                <div class="goal" style="border: unset;">
                    <span class="value">${manager.script_following}</span>
                    <span class="description">Выполнение скрипта</span>
                </div>
    `;
    divManager.append(divGoals);
    aManager.append(divManager);
    document.querySelector('.managers-group').append(aManager);
}

const eventListeners = () => {};

const getData = async () => {
    const response = await fetch(`/managers-list/`)
    .then(response => {
        status_code = response.status;
        if (status_code != 200) throw status_code;
        result = response.json();
        return result;
    })
    .then(result => {
        fillGlobal(result);
        for (let i = 0; i < DarwinAI.managers.length; i++) createManager(DarwinAI.managers[i]);
        eventListeners();
    })
    .catch(error => {
        console.log(error);
    });
};
{% endblock %}